<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Map generator</title>
</head>
<body>
	<style>
	.ui {
		clear:both;
	}
	.inputs{
		float:left;
		width:20%;
		padding:5px;
	}
	.result{
		float:left;
		width:75%;
		padding:5px;
		border:0px solid #000000;
	}
	.map{<
		display:none;/*none|block*/
		visibility:hidden;/*hidden|visible*/
	}
	</style>
	<h1>City map generator</h1>
	<h2>Blocks</h2>
	{{ if ne .Error `` }}
	<p>{{printf "%s" .Error}}</p>
	{{ end }}
	<div class="ui">
		<div class="inputs">
			<div>
			<form action="/blocks" method="post">
				<div>
					<label for="min">Minimum size</label>
				</div>
				<div>
					<input name="min" id="min" value="{{if .Default}}{{printf "100"}}{{else}}{{printf "%.2f" .MIN_SIZE}}{{end}}"/>
				</div>
				<div>
					<label for="max">Maximum size</label>
				</div>
				<div>
					<input name="max" id="max" value="{{if .Default}}{{printf "500"}}{{else}}{{printf "%.2f" .MAX_SIZE}}{{end}}"/>
				</div>
				<div>
					<button>Generate blocks</button>
				</div>
				<!-- This is probably a hack. I am no frontend dev. -->
				<div class="map">
					<label for="map">Field below is a serialized map</label>
				</div>
				<div class="map">
					<input name="map" id="map" value="{{ printf "%s" .Map }}"/>
				</div>
			</form>
			</div>

			<div>
			<form action="/savemap" method="get">
				<hr/>
				<!-- This is probably a hack. I am no frontend dev. -->
				<div class="map">
					<input name="map" id="map" value="{{ printf "%s" .Map }}"/>
				</div>
				<div>
					<!-- <button>Accept blocks</button> -->
				</div>
			</form>
			</div>
		</div>
		<div class="result">
			<img src="data:imagr/png;base64,{{.Image}}">
		</div>
	</div>
</body>
</html>
