<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Map generator</title>
</head>
<body>
	<style>
	.ui {
		clear:both;
	}
	.inputs{
		float:left;
		width:20%;
		padding:5px;
	}
	.result{
		float:left;
		width:75%;
		padding:5px;
		border:0px solid #000000;
	}
	.map{<
		display:none;/*none|block*/
		visibility:hidden;/*hidden|visible*/
	}
	</style>
	<h1>City map generator</h1>
	<h2>Main dimentions</h2>
	{{ if ne .Error `` }}
	<p>{{printf "%s" .Error}}</p>
	{{ end }}
	<div class="ui">
		<div class="inputs">
			<div>
			<form action="/borders" method="post">
				<div>
					<label for="min_r">Min radius</label>
				</div>
				<div>
					<input name="min_r" id="min_r" value="{{if .Default}}{{printf "1000"}}{{else}}{{ printf "%.2f" .MinR}}{{end}}"/>
				</div>
				<div>
					<label for="max_r">Max radius</label>
				</div>
				<div>
					<input name="max_r" id="max_r" value="{{if .Default}}{{printf "3000"}}{{else}}{{printf "%.2f" .MaxR}}{{end}}"/>
				</div>
				<div>
					<label for="n_corners">Corners</label>
				</div>
				<div>
					<input name="n_corners" id="n_corners" value="{{if .Default}}{{printf "3"}}{{else}}{{printf "%d" .NCorners}}{{end}}"/>
				</div>
				<div>
					<label for="variation">Variation</label>
				</div>
				<div>
					<input name="variation" id="variation" value="{{if .Default}}{{printf "300"}}{{else}}{{printf "%.2f" .Variation}}{{end}}"/>
				</div>
				<div>
					<button>Generate borders</button>
				</div>
			</form>
			</div>

			<div>
			<form action="/roads" method="get">
				<hr/>
				<!-- This is probably a hack. I am no frontend dev. -->
				<div class="map">
					<label for="map">Field below is a serialized map</label>
				</div>
				<div class="map">
					<input name="map" id="map" value="{{ printf "%s" .Map }}"/>
				</div>
				<div>
					<button>Accept borders</button>
				</div>
			</form>
			</div>
		</div>
		<div class="result">
			<img src="data:imagr/png;base64,{{.Image}}">
		</div>
	</div>
</body>
</html>
