<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Map generator</title>
</head>
<body>
	<h1>City map generator</h1>
	<h2>Main dimentions</h2>
	<form action="/borders"ethod="get">
		<div>
			<label for="min_r">Min radius</label>
		</div>
		<div>
			<input name="min_r" id="min_r" value="1000"/>
		</div>
		<div>
			<label for="max_r">Max radius</label>
		</div>
		<div>
			<input name="max_r" id="max_r" value="3000"/>
		</div>
		<div>
			<label for="n_corners">Corners</label>
		</div>
		<div>
			<input name="n_corners" id="n_coners" value="3"/>
		</div>
		<div>
			<label for="variation">Variation</label>
		</div>
		<div>
			<input name="variation" id="variation" value="300"/>
		</div>
		<div>
			<button>Generate borders</button>
		</div>
	</form>
</body>
</html>
