<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Map generator</title>
</head>
<body>
	<h1>City map generator</h1>
	<p>
	    <a href="/borders">Make new map</a>
	</p>
	<p>
	    <s><a href="/dbmap">Read map from database</a></s> Not implemented yet
	</p>
</body>
</html>
